@use "sass:color";

$background: #131318;

$blue: #b5c4ff;

$blue_container: #344479;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #91d5ad;

$green_container: #035233;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #303036;

$inverse_primary: #585992;

$inverse_surface: #e4e1e9;

$on_background: #e4e1e9;

$on_blue: #1c2d61;

$on_blue_container: #dbe1ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #003822;

$on_green_container: #acf2c8;

$on_orange: #55200d;

$on_orange_container: #ffdbd0;

$on_primary: #292a60;

$on_primary_container: #e1dfff;

$on_primary_fixed: #14134a;

$on_primary_fixed_variant: #404178;

$on_purple: #34275e;

$on_purple_container: #e7deff;

$on_red: #511d3d;

$on_red_container: #ffd8ea;

$on_secondary: #2f2f42;

$on_secondary_container: #e2e0f9;

$on_secondary_fixed: #1a1a2c;

$on_secondary_fixed_variant: #454559;

$on_surface: #e4e1e9;

$on_surface_variant: #c8c5d0;

$on_tertiary: #46263a;

$on_tertiary_container: #ffd8ec;

$on_tertiary_fixed: #2e1124;

$on_tertiary_fixed_variant: #5f3c51;

$on_yellow: #452b00;

$on_yellow_container: #ffddb3;

$orange: #ffb59d;

$orange_container: #723520;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #918f9a;

$outline_variant: #47464f;

$primary: #c1c1ff;

$primary_container: #404178;

$primary_fixed: #e1dfff;

$primary_fixed_dim: #c1c1ff;

$purple: #cdbdff;

$purple_container: #4b3e76;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #fbb0d8;

$red_container: #6c3455;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #c6c4dd;

$secondary_container: #454559;

$secondary_fixed: #e2e0f9;

$secondary_fixed_dim: #c6c4dd;

$shadow: #000000;

$source_color: #9a9be7;

$surface: #131318;

$surface_bright: #39383f;

$surface_container: #1f1f25;

$surface_container_high: #2a292f;

$surface_container_highest: #35343a;

$surface_container_low: #1b1b21;

$surface_container_lowest: #0e0e13;

$surface_dim: #131318;

$surface_tint: #c1c1ff;

$surface_variant: #47464f;

$tertiary: #e9b9d3;

$tertiary_container: #5f3c51;

$tertiary_fixed: #ffd8ec;

$tertiary_fixed_dim: #e9b9d3;

$yellow: #f5bd6f;

$yellow_container: #633f00;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
$surface_transparent: color.scale($surface, $alpha: -20%);
// $surface_transparent: $surface;
$inverse_surface_transparent: color.scale($inverse_surface, $alpha: -92%);
$inverse_surface_transparent_variant: color.scale(
  $inverse_surface,
  $alpha: -82%
);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
